@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

div.content {
  text-align: left;
}

.main-business-div {
  margin-top: 100px;
}
.business-table {
  display: table;
  margin: 0 auto;
}
.business-table tbody {
  max-height: 1000px;
  overflow: auto;
  padding-right: 10px;
}

.business-search-bar {
  float: right;
  margin-bottom: 0;
  font-size: medium;
  flex-grow: 1;
}
.business-search {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: auto;
}
.business-search input {
  width: 100%;
  max-height: 50px;
}

.business-card {
  width: 540px;
  max-width: 540px;
  min-width: 350px;
  border-color: darkblue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  max-height: 177px;
}

.business-card-image {
  height: 100%;
  width: 100%;
}
.business-card-image-div {
  position: relative;
  overflow-x: hidden;
  padding-right: 0%;
  height: 155px;
  max-height: 155px;
}

.business-card-body {
  max-height: 72px;
  margin-bottom: 5px;
  overflow-y: auto;
}
.business-card-body p {
  font-size: small;
  border-radius: 5px;
}
.business-card-body p:hover {
  background-color: rgba(0, 0, 0, 0.02);

}

.checkbox-section {
  /* border: 2px solid black */
  border-style: solid;
  border-color: darkblue;
  border-radius: 5px;
  border-width: 1px;
  max-height: 200px;
  min-width: 100%;
  overflow-y: auto;
}

.modal-button-footer {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
tbody::-webkit-scrollbar {
  padding-left: 25px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track:hover {
  background: #f1f1f160;
}

.list-group-item {
  user-select: none;
}

.list-group label input[type="radio"] {
  cursor: pointer;
}
.list-group-item {
  cursor: pointer;
}

.list-group label input[type="radio"] {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}
.list-group-item:before {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group label input[type="radio"]:checked {
  background-color: #0275D8;
  color: #FFF;
}
.list-group-item:hover {
  background-color: #0275D8;
  color: #FFF;
}

.list-group label input[type="radio"]:checked {
  color: inherit;
}
.list-group-item:before {
  color: inherit;
}
