.main-business-div {
  margin-top: 100px;
}
.business-table {
  display: table;
  margin: 0 auto;
}
.business-table tbody {
  max-height: 1000px;
  overflow: auto;
  padding-right: 10px;
}

.business-search-bar {
  float: right;
  margin-bottom: 0;
  font-size: medium;
  flex-grow: 1;
}
.business-search {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: auto;
}
.business-search input {
  width: 100%;
  max-height: 50px;
}

.business-card {
  width: 540px;
  max-width: 540px;
  min-width: 350px;
  border-color: darkblue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  max-height: 177px;
}

.business-card-image {
  height: 100%;
  width: 100%;
}
.business-card-image-div {
  position: relative;
  overflow-x: hidden;
  padding-right: 0%;
  height: 155px;
  max-height: 155px;
}

.business-card-body {
  max-height: 72px;
  margin-bottom: 5px;
  overflow-y: auto;
}
.business-card-body p {
  font-size: small;
  border-radius: 5px;
}
.business-card-body p:hover {
  background-color: rgba(0, 0, 0, 0.02);

}

.create-business-modal {
}

.add-users-section {
  /* border: 2px solid black */
  border-style: solid;
  border-color: darkblue;
  border-radius: 5px;
  border-width: 1px;
  max-height: 200px;
  min-width: 100%;
  overflow-y: auto;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}
tbody::-webkit-scrollbar {
  padding-left: 25px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track:hover {
  background: #f1f1f160;
}
