
<div class="main-business-div">
  <div>
    <h1 style="text-align: center;">Businesses</h1>

    <div class="business-search input-group">
      <button class="btn btn-outline-primary" (click)="openCenteredModal(createBusinessContent)"><i class="bi bi-plus"></i></button>
      <button class="btn btn-secondary" (click)="openCenteredModal(filterContent)"><i class="bi bi-filter"></i></button>

      <div class="business-search-bar form-floating">
        <input type="search" class="form-control" id="searchByName" placeholder="Search">
        <label for="searchByName">Search...</label>
      </div>

    </div>

    <table class="business-table">
      <thead>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let business of allBusinesses">
          <td>

            <div class="card mb-3 business-card">
              <div class="row g-0">
                <div class="col-md-4">
                  <img [src]="business.logoUrl" class="business-card-image img-fluid rounded-start" alt="business logo">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{business.name}}</h5>
                    <div class="business-card-body">
                      <p class="card-text">{{business}}</p>
                    </div>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>


<ng-template #createBusinessContent let-modal>
  <div>
    <div class="modal-header">
      <h1>Create Business</h1>
    </div>
    <div class="modal-body">
      <div class="form-floating">
        <textarea rows="5" style="height: 100%;" type="text" class="form-control" id="descriptionEdit" placeholder="Description" ></textarea>
        <label for="descriptionEdit">Description</label>
      </div>
      <br/>
      <div class="form-floating">
        <input type="text" class="form-control" id="imageEdit" placeholder="URL">
        <label for="imageEdit">Image URL</label>
      </div>
    </div>

    <div class="modal-footer">
      <span style="float: left;">
        <button class="btn btn-primary">Save Changes</button>
      </span>
      <button type="button" class="btn btn-warning">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #filterContent let-modal>
  <div>
    <div class="modal-header">
      <div class="form-floating" style="width: 100%;">
        <input type="text" class="form-control" id="titleEdit" placeholder="Title" >
        <label for="titleEdit">Title</label>
      </div>

    </div>
    <div class="modal-body">
      <div class="form-floating">
        <textarea rows="5" style="height: 100%;" type="text" class="form-control" id="descriptionEdit" placeholder="Description" ></textarea>
        <label for="descriptionEdit">Description</label>
      </div>
      <br/>
      <div class="form-floating">
        <input type="text" class="form-control" id="imageEdit" placeholder="URL">
        <label for="imageEdit">Image URL</label>
      </div>
    </div>

    <div class="modal-footer">
      <span style="float: left;">
        <button class="btn btn-primary">Save Changes</button>
      </span>
      <button type="button" class="btn btn-warning">Close</button>
    </div>
  </div>
</ng-template>
