
<div class="main-business-div">
  <div>
    <h1 style="text-align: center;">Businesses</h1>

    <div class="business-search input-group">
      <button *ngIf="isRoleBusiness()" class="btn btn-outline-primary" (click)="openCenteredModal(createBusinessContent)"><i class="bi bi-plus"></i></button>
      <button *ngIf="!isRoleBusiness()" class="btn btn-primary" disabled><i class="bi bi-plus"></i></button>
      <button class="btn btn-secondary" (click)="openCenteredModal(filterContent)"><i class="bi bi-filter"></i></button>

      <div class="business-search-bar form-floating">
        <input type="search" class="form-control" id="searchByName" placeholder="Search" [(ngModel)]="searchBusinessText">
        <label for="searchByName">Search By Name...</label>
      </div>

    </div>

    <table class="business-table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let business of allBusinesses | searchByBusinessName:searchBusinessText | orderBy:'name'">
          <td>

            <div class="card mb-3 business-card">
              <div class="row">
                <div class="col-4 business-card-image-div">
                  <img [src]="business.logoUrl" class="business-card-image rounded-start" alt="business logo">
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">{{business.name}}</h5>
                    <div class="business-card-body">
                      <p class="card-text">{{business | businessServiceTypesString }}</p>
                    </div>
                  </div>

                  <div class="card-footer bg-transparent">

                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <button *ngIf="userOwnsBusiness(business,loggedInUser)" (click)="setEditBusiness(business); openCenteredModal(updateBusinessContent)" type="button" class="btn btn-outline-primary">Edit <i class="bi bi-pencil-square"></i></button>
                      <button *ngIf="isRoleCustomer()" type="button" class="btn btn-outline-primary">Request Service</button>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>

<!-- create business modal -->
<ng-template #createBusinessContent let-modal>
  <div>
    <!-- modal header -->
    <div class="modal-header">
      <h1>Create Business</h1>
    </div>

    <!-- modal body -->
    <div class="modal-body">

      <div class="form-floating">
        <input type="text" class="form-control" id="nameIntput" placeholder="name" [(ngModel)]="creatingBusiness.name">
        <label for="nameIntput">Business Name</label>
      </div>

      <br/>
      <div class="form-floating">
        <input type="text" class="form-control" id="logoUrlInput" placeholder="URL" [(ngModel)]="creatingBusiness.logoUrl">
        <label for="logoUrlInput">Logo URL</label>
      </div>

      <br/>
      <h6>Add Employees</h6>
      <div class="form-floating">
        <input type="text" class="form-control" id="usernameSearchInput" placeholder="Search For Usernames" [(ngModel)]="usernameSearchText">
        <label for="usernameSearchInput">Search For Usernames</label>
      </div>
      <div class="add-users-section">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let user of allContractors | searchByUsername:usernameSearchText | orderBy:'username'">
            <input class="form-check-input me-1" type="checkbox" (click)="handleUserOnBusiness(creatingBusiness,user)" [checked]="businessHasUser(creatingBusiness,user)" aria-label="...">
            {{user.username}}
          </li>
        </ul>
      </div>

      <br/>
      <h6>Add Service Types</h6>
      <div class="form-floating">
        <input type="text" class="form-control" id="usernameSearchInput" placeholder="URL" [(ngModel)]="serviceTypeSearchText">
        <label for="usernameSearchInput">Search For Service Types</label>
      </div>
      <div class="add-users-section">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let serviceType of allServiceTypes | searchByServicetypeName:serviceTypeSearchText | orderBy:'name'">
            <input class="form-check-input me-1" type="checkbox" (click)="handleServiceTypeOnBusiness(creatingBusiness,serviceType)" [checked]="businessHasServiceType(creatingBusiness,serviceType)" aria-label="...">
            {{serviceType.name}}
          </li>
        </ul>
      </div>
    </div>

    <div class="modal-footer modal-button-footer">
      <button type="button" class="btn btn-warning" (click)="resetCreatingBusiness(); modal.close();">Close</button>
      <span style="float: right;">
        <button class="btn btn-primary" (click)="createBusiness(creatingBusiness); modal.close()">Create</button>
      </span>
    </div>
  </div>
</ng-template>

<!-- update business modal -->
<ng-template #updateBusinessContent let-modal>
  <div *ngIf="editBusiness">
    <!-- modal header -->
    <div class="modal-header">
      <h1>Update Business</h1>
    </div>

    <!-- modal body -->
    <div class="modal-body">

      <div class="form-floating">
        <input type="text" class="form-control" id="nameIntput" placeholder="name" [(ngModel)]="editBusiness.name">
        <label for="nameIntput">Business Name</label>
      </div>

      <br/>
      <div class="form-floating">
        <input type="text" class="form-control" id="logoUrlInput" placeholder="URL" [(ngModel)]="editBusiness.logoUrl">
        <label for="logoUrlInput">Logo URL</label>
      </div>

      <br/>
      <h6>Adjust Employees</h6>
      <div class="form-floating">
        <input type="text" class="form-control" id="usernameSearchInput" placeholder="Search For Usernames" [(ngModel)]="usernameSearchText">
        <label for="usernameSearchInput">Search For Usernames</label>
      </div>
      <div class="add-users-section">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let user of allContractors | searchByUsername:usernameSearchText | orderBy:'username'">
            <input class="form-check-input me-1" type="checkbox" (click)="handleUserOnBusiness(editBusiness,user)" [checked]="businessHasUser(editBusiness,user)" aria-label="...">
            {{user.username}}
          </li>
        </ul>
      </div>

      <br/>
      <h6>Adjust Service Types</h6>
      <div class="form-floating">
        <input type="text" class="form-control" id="usernameSearchInput" placeholder="URL" [(ngModel)]="serviceTypeSearchText">
        <label for="usernameSearchInput">Search For Service Types</label>
      </div>
      <div class="add-users-section">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let serviceType of allServiceTypes | searchByServicetypeName:serviceTypeSearchText | orderBy:'name'">
            <input class="form-check-input me-1" type="checkbox" (click)="handleServiceTypeOnBusiness(editBusiness,serviceType)" [checked]="businessHasServiceType(editBusiness,serviceType)" aria-label="...">
            {{serviceType.name}}
          </li>
        </ul>
      </div>
    </div>

    <div class="modal-footer modal-button-footer">
      <button type="button" class="btn btn-warning" (click)="resetEditBusiness(); modal.close();">Cancel</button>
      <span style="float: right;">
        <button class="btn btn-primary" (click)="updateBusiness(editBusiness); modal.close()">Update</button>
      </span>
    </div>
  </div>
</ng-template>

<!-- filter business modal -->
<ng-template #filterContent let-modal>
  <div>
    <div class="modal-header">
      <h1>Filter Businesses</h1>
    </div>

    <div class="modal-body">

    </div>

    <div class="modal-footer modal-button-footer">
      <button type="button" class="btn btn-warning" (click)="modal.close()">Close</button>
      <!-- <span style="float: right;">
        <button class="btn btn-primary">Save Changes</button>
      </span> -->
    </div>
  </div>
</ng-template>
