@import "~bootstrap/dist/css/bootstrap.css";
:root {
  --sidebarwidth: 200px;
}

.helvetica {
  font: Helvetica;
}

.btnColor {
  background-color: #24A0ED;
  color: white;
}


.clientListBox{
  min-width: 300px;
  min-height: 150px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #24A0ED;
  position: relative;
  padding-top: 10px;
  color: white;
  font: helvetica;
  border-radius: 2em;
}

.wrapper {
  display: flex;
}


.homeSpacer {
  padding-left: 20px;
}

.positionAbsolute{
  position: relative;

}

.datePipeSelectionBtn{
  min-width: 50px;
  min-height: 20px;
  max-width: 50px;
  max-height: 35px;
  margin: 0 auto;
  background-color: #24A0ED;
  position: relative;
  padding-top: 10px;
  color: white;
  font: helvetica;
  border-radius: 2em;
}

.datePipeSelectionBtn a {
  vertical-align: center;

}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  text-align: center;
  padding-top: 81px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  div.content {margin-left: 0;}
}
