@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --sidebarwidth: 200px;
}
.marginMaker {
	margin-left: 15px;
  margin-right: 15px;
}

.helvetica {
  font: Helvetica;
}

.navbar{
  padding-left: 15px;
  padding-right: 15px;
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: var(--sidebarwidth);
  background-color: #f1f1f1;
  position: fixed;
  margin-top: 56px;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.loginLocation{
  padding-right: 15px;
}
/* Active/current link */
.sidebar a.active {
  background-color: #24A0ED;
  color: white;
}
.btnColor {
  background-color: #24A0ED;
  color: white;
}
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  text-align: center;
  padding-top: 81px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.loginLocation{
  position: absolute;
  right: 0px;
}

.clientListBox{
  min-width: 300px;
  min-height: 150px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #24A0ED;
  position: relative;
  padding-top: 10px;
  color: white;
  font: helvetica;
  border-radius: 2em;
}

.wrapper {
  display: flex;
}

.monkeyWrenchImg{
  text-align: center;
  padding-top: 15px;
}

.navbar-spacer {
font-size: 25.5px;
}

.orangeBG {
  margin: -15px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  background-color: #EF9E60;
  width: 200px;
  position: relative;
}

.homeSpacer {
  padding-left: 20px;
}

.positionAbsolute{
position: relative;

}

.datePipeSelectionBtn{
  min-width: 50px;
  min-height: 20px;
  max-width: 50px;
  max-height: 35px;
  margin: 0 auto;
  background-color: #24A0ED;
  position: relative;
  padding-top: 10px;
  color: white;
  font: helvetica;
  border-radius: 2em;
}

.datePipeSelectionBtn a {
vertical-align: center;

}
