  <!-- <div class="marginMaker helvetica"> -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="navbar-siteTitle-div">
        <a class="navbar-brand navbar-spacer" href="#">MonkeyWrench</a>
      </div>

      <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse homeSpacer" id="navbarNavAltMarkup" [ngbCollapse] = 'isCollapsed'>
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="#">Equipment</a>
          <a class="nav-item nav-link" href="#">Service History</a>
          <a class="nav-item nav-link" href="#">Support</a>

          <!-- modal for login -->
          <div *ngIf="!loggedIn()">
          <div class="loginLocation">
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <input type="text" name="username" placeholder="Username" [(ngModel)]="user.username"> <br>
                  <input type="text" name="password" placeholder="Password" [(ngModel)]="user.password"> <br>
                  <input type="submit" (click)="login(user)" value="Login">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
              </div>

            </ng-template>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Login</button>
          </div>
          <!--need to add routing information for register page-->
          <div class="registerLocation">
            <a class="btn btnColor" href="#" [routerLink]="" role="button">Register</a>
          </div>
        </div>
        <div class='logout' *ngIf="loggedIn()">
          <a class="btn btnColor" href="#" (click)="logout()" role="button">Log Out</a>
        </div>

        </div>
      </div>
    </nav>
  <!-- </div> -->
