  <!-- <div class="marginMaker helvetica"> -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="orangeBG">
        <a class="navbar-brand navbar-spacer" href="#">MonkeyWrench</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse homeSpacer" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="#">Equipment</a>
          <a class="nav-item nav-link" href="#">Service History</a>
          <a class="nav-item nav-link" href="#">Support</a>

          <div *ngIf="!loggedIn()">
          <div class="loginLocation">
            <a class="btn btnColor" href="#" [routerLink]="" role="button">Login</a>
          </div>
          <!--need to add routing information for register page-->
          <div class="registerLocation">
            <a class="btn btnColor" href="#" [routerLink]="" role="button">Register</a>
          </div>
        </div>
        <div class='logout' *ngIf="loggedIn()">
          <a class="btn btnColor" href="#" (click)="logout()" role="button">Log Out</a>
        </div>

        </div>
      </div>
    </nav>
  <!-- </div> -->
