
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="navbar-siteTitle-div">
    <a class="navbar-brand navbar-siteTitle-text" href="#">MonkeyWrench</a>
  </div>

  <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse homeSpacer" id="navbarNavAltMarkup" [ngbCollapse] = 'isCollapsed'>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="#">Equipment</a>
      <a class="nav-item nav-link" href="#">Service History</a>
      <a class="nav-item nav-link" href="#">Support</a>

    <!-- modal for login -->
    <div class="navbar-not-logged-in" *ngIf="!loggedIn()">

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Enter Login Info</h4>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <div class="form-floating">
              <input type="text" class="form-control" id="loginUsername" placeholder="Username" [(ngModel)]="loginUser.username" >
              <label for="loginUsername">Username</label>
            </div>
            <br/>
            <div class="form-floating">
              <input type="password" class="form-control" id="loginPassword" placeholder="password" [(ngModel)]="loginUser.password">
              <label for="loginPassword">Password</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span style="margin-right: auto;">
            <button type="button" class="btn btn-warning" (click)="modal.close('Close click')">Cancel</button>
          </span>

          <button type="button" class="btn btn-success" (click)="login(loginUser)">Login</button>
        </div>

      </ng-template>

      <button class="btn btnColor">Register</button>
      <button class="btn btn-outline-primary" (click)="openVerticallyCentered(content)">Login</button>
    </div>

    <div class='logout' *ngIf="loggedIn()">
      <a class="btn btnColor" href="#" (click)="logout()" role="button">Log Out</a>
    </div>

    </div>
  </div>
</nav>

