<app-contractor-sidebar></app-contractor-sidebar>
<div class="content">


  <div *ngIf='!viewCustomer'>
    <!-- search field -->
    <div class='customerSearchField'>
      <h1>Search Existing Customer</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="searchFirstName"
          placeholder="First Name" [(ngModel)]="firstNameSearch"/>
        <label for="searchFirstName">First Name</label>
      </div><br/>

      <div class="form-floating">
        <input type="text" class="form-control" id="searchLastName"
        placeholder="Last Name" [(ngModel)]="lastNameSearch"/>
        <label for="searchLastName">Last Name</label>
      </div>
      <br/>

      <div class="form-floating">
        <input type="text" class="form-control" id="searchPhoneNumber"
        placeholder="Phone Number" [(ngModel)]="phoneNumberSearch"/>
        <label for="searchPhoneNumber">Phone Number</label>
      </div>
      <br/><br><br><br>
    </div>

    <!-- search results -->
    <div class="clientList">
      <!-- <button class="btn btn-outline-primary">Add New Customer</button><br><br> -->
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor='let client of clientList | firstName:firstNameSearch | lastName:lastNameSearch | phoneNumber:phoneNumberSearch'>
          <tr>
            <td>{{client.firstName}} {{client.lastName}}</td>
            <td>({{client.phoneNumber | slice:0:3}}) {{client.phoneNumber | slice:3:6}}-{{client.phoneNumber | slice:6:10}}</td>
            <td><button class="btn btn-outline-primary" (click)="getAddressesByUserId(client)">View More</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- view more customer info -->
  <div *ngIf='viewCustomer'>
    <h1>{{viewCustomer.firstName}} {{viewCustomer.lastName}}</h1><br>
    <h3>Phone Number: ({{viewCustomer.phoneNumber | slice:0:3}}) {{viewCustomer.phoneNumber | slice:3:6}}-{{viewCustomer.phoneNumber | slice:6:10}}</h3><br>
    <h6>Notes: {{viewCustomer.notes}}</h6><br>
    <!-- showing addresses -->
    <div *ngIf='clientAddresses'>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Street</th>
            <th scope="col">Street 2</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor='let address of clientAddresses'>
          <tr>
            <td>{{address.street}}</td>
            <td>{{address.street2}}</td>
            <td>{{address.city}}</td>
            <td>{{address.stateAbbv}}</td>
            <td>{{address.zipCode}}</td>
            <td>{{address.notes}}</td>
            <td><button class="btn btn-outline-primary" (click)="serviceCallForm(address)">Add Service Call</button> </td>
            <td><button class="btn btn-outline-primary" (click)="viewServiceRecord(address)">Service History</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-outline-success" (click)="viewAddressForm = true">Create New Address</button>
    <button class="btn btn-outline-danger" (click)="viewCustomer = null; viewAddressForm = false; viewServiceHistory = false; viewServiceCallForm = false">Back</button>
  </div>

  <!-- add new address form -->
  <div *ngIf='viewAddressForm'>
    <div class="form-floating">
      <input type="text" class="form-control" id="createStreet"
        placeholder="Street" [(ngModel)]="newAddress.street"/>
      <label for="createStreet">Street</label>
    </div><br/>
    <div class="form-floating">
      <input type="text" class="form-control" id="createStreet2"
        placeholder="Street 2" [(ngModel)]="newAddress.street2"/>
      <label for="createStreet2">Street 2 (optional)</label>
    </div><br/>
    <div class="form-floating">
      <input type="text" class="form-control" id="createCity"
        placeholder="City" [(ngModel)]="newAddress.city"/>
      <label for="createCity">City</label>
    </div><br/>
    <div class="form-floating">
      <input type="text" class="form-control" id="createState"
        placeholder="State Abbv" [(ngModel)]="newAddress.stateAbbv"/>
      <label for="createState">State Abbv</label>
    </div><br/>
    <div class="form-floating">
      <input type="text" class="form-control" id="createZip"
        placeholder="Zip Code" [(ngModel)]="newAddress.zipCode"/>
      <label for="createZip">Zip Code</label>
    </div><br/>
    <div class="form-floating">
      <input type="text" class="form-control" id="createAddressNotes"
        placeholder="Notes" [(ngModel)]="newAddress.notes"/>
      <label for="createAddressNotes">Notes</label>
    </div><br/>
    <button class="btn btn-outline-success" (click)="createNewAddress(newAddress)">Submit</button>
  </div><br><br>
  <!-- end of new address form -->

  <!-- new service call form need fields for problem, estimate or call-->
  <div *ngIf='viewServiceCallForm'>
    <div class="form-floating">
      <!-- call description -->
      <input type="text" class="form-control" id="createCallDescription"
        placeholder="Problem Description" [(ngModel)]="newServiceCall.problemDescription"/>
      <label for="createCallDescription">Problem Description</label>
    </div><br/>
    <!-- call notes -->
    <div class="form-floating">
      <input type="text" class="form-control" id="createCallNotes"
        placeholder="Notes for Contractor" [(ngModel)]="newServiceCall.contractorNotes"/>
      <label for="createCallNotes">Notes for Contractor</label>
    </div><br/>
    <!-- schedule date -->
      <div class="form-floating">
        <h5>Scheduled</h5>
      <input type="datetime-local" class="form-control-lg" id="createCallTime"
      [(ngModel)]="newServiceCall.dateScheduled"/>
     </div><br/>
    <!-- which business to send out -->
    <div class='selectBusiness'>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle >{{displayBusinessMessage}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic3" >
            <button ngbDropdownItem *ngFor='let business of contractorsBusinesses' (click)='selectedBusiness=business; setBusinessDisplayMessage(selectedBusiness.name)'>{{ business.name }}</button>
          </div>
        </div>
      </div>
    </div><br>
    <!-- problem for service call -->
    <div class="form-floating">
      <div class='row'>
        <div class="col">
          <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{displayProblemMessage}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <button ngbDropdownItem *ngFor='let problem of serviceCallProblems' (click)='selectedProblem = problem; setProblemDisplayMessage(selectedProblem.description)'>{{ problem.description }}</button>
            </div>
          </div>
        </div>
      </div>
    </div><br/>
    <!-- estimate boolean -->
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{displayEstimateMessage}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" >
              <button ngbDropdownItem (click)="estimate = true; setEstimateDisplayMessage()">Estimate</button>
              <button ngbDropdownItem (click)="estimate = false; setEstimateDisplayMessage()">Charged</button>
            </div>
          </div>
        </div>
    </div><br/>

      <button class="btn btn-outline-success" (click)="addServiceCallToAddress(newServiceCall)">Submit</button>
    </div>

    <!-- service history -->
    <div class="form-control" *ngIf='viewServiceHistory'>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Problem</th>
            <th scope="col">Problem Description</th>
            <th scope="col">Solution</th>
            <th scope="col">Hours Labor</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Notes</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody *ngFor='let call of serviceHistory'>
          <tr>
            <td>{{call.problem?.description}}</td>
            <td>{{call.problemDescription}}</td>
            <td>{{call.solution?.description}}</td>
            <td>{{call.hoursLabor}}</td>
            <td>{{call.totalCost}}</td>
            <td>{{call.contractorNotes}}</td>
            <td>{{call.dateScheduled | date : 'short'}}</td>
          </tr>
        </tbody>
      </table>
    </div>













</div> <!-- this is my end content div -->
