<h1>Users Page - Under Construction</h1>

<div>
  <div >
    <ul *ngFor="let user of users">Users
      <li>{{user.id}}</li>
      <li>{{user.firstName}}</li>
      <li>{{user.lastName}}</li>
    </ul>
  </div>

</div>


<div>
  <!-- ID: <input type="text" name="id" [(ngModel)]="user?.id"><br>
  Name: <input type="text" name="firstName" [(ngModel)]="user?.firstName"><br>
  Height: <input type="text" name="lastName" [(ngModel)]="user?.lastName"><br>
  Weight: <input type="text" name="phoneNumber" [(ngModel)]="user?.phoneNumber"><br>
  Description: <input type="text" name="notes" [(ngModel)]="user?.notes"><br>
  Description: <input type="text" name="username" [(ngModel)]="user?.username"><br>
  Description: <input type="text" name="password" [(ngModel)]="user?.password"><br> -->

  <!-- <p>ID: {{user.id}}</p>
  <p>Name: {{user.firstName}}</p>
  <p>Height: {{user.lastName}}</p>
  <p>Weight: {{user.phoneNumber}}</p>
  <p>Description: {{user.notes}}</p>
  <p>Description: {{user.username}}</p>
  <p>Description: {{user.password}}</p> -->


</div>
