<app-contractor-sidebar>Loading...</app-contractor-sidebar>
<div class="userContent">

  <h1>Users Page - Under Construction</h1>

  <div class='userWrapper'>
    <div class="userListBox" >
      <div *ngIf="!editUser" >
        <button (click)="editUser = true">Edit</button>
        <p>Name: {{currentUser.firstName}} {{currentUser.lastName}}</p>
        <p>Phone #: ({{currentUser.phoneNumber | slice:0:3}}) {{currentUser.phoneNumber | slice:3:6}}-{{currentUser.phoneNumber | slice:6:10}}</p>
        <p *ngIf="currentUser.role === 'business' ">Notes: {{currentUser.notes}}</p>
        <p>Username: {{currentUser.username}}</p>
      </div>

      <div *ngIf="editUser">
        Name: <input type="text" name="firstName" [(ngModel)]="currentUser.firstName" placeholder="First name">
        <input type="text" name="lastName" [(ngModel)]="currentUser.lastName" placeholder="Last name"><br>
        Phone #: <input type="text" name="phoneNumber" [(ngModel)]="currentUser.phoneNumber"><br>
        Notes: <input type="text" name="notes" [(ngModel)]="currentUser.notes"><br>
        Username: <input type="text" name="username" [(ngModel)]="currentUser.username"><br>
        <button (click)="editUser=false">Cancel</button>
        <button (click)="updateUser(currentUser)">Save</button>
      </div>
    </div>    <!-- end user div -->
      <br><br>

    <!-- <div class="addressListBox" > -->
    <div *ngIf="currentUser.role === 'business'">
      <div class="userListBox" >
        <h1>Business:</h1>
        <table class="table table-striped table-hover">
          <thead class="table-danger">
            <tr>
              <th>Owner Name</th>
              <th>Busness Name</th>
              <th class="editAddressBtn"></th>
            </tr>
          </thead>
          <tbody class=" table-info">
            <tr *ngFor="let business of businesses">
              <!-- <label for=""></label><td></td> -->
              <td>{{currentUser.firstName}} {{currentUser.lastName}}</td>
              <td>Biz name: {{business.name}} | Type: {{business.serviceTypes}} | Enabled: {{business.enabled}}</td>
              <td ><button class="action" >Remove</button></td>  <!-- Removes userId from address or puts at user ID 1 which can be an admin user which cares for unassigned-->
            </tr>
          </tbody>
          <br>
        </table>
      </div>
    </div>   <!-- end business div -->
    <br><br>


    <div class="addressListBox" >
      <h1 class="addressTitle">Addresses:</h1>
      <button (click)="addingAddress = true">New Address</button>
      <table class="table table-striped table-hover">
        <thead class="table-danger">
          <tr>
            <th>Owner Name</th>
            <th>Address</th>
            <th class="editAddressBtn"></th>
          </tr>
        </thead>
        <tbody class=" table-info">
          <tr *ngFor="let userAddress of userAddresses">
            <td>{{userAddress.user?.firstName}} {{userAddress.user?.lastName}}</td>
            <td *ngIf="userAddress.street2 == null">{{userAddress.street}} {{userAddress.city}}, {{userAddress.stateAbbv}} {{userAddress.zipCode}}</td>
            <td *ngIf="userAddress.street2 != null">{{userAddress.street}} {{userAddress.street2}} {{userAddress.city}}, {{userAddress.stateAbbv}} {{userAddress.zipCode}}</td>
            <td ><button (click)="udpateAddress(userAddress)" >Remove</button></td>  <!-- Removes userId from address or puts at user ID 1 which can be an admin user which cares for unassigned-->
          </tr>
        </tbody>
        <br>
      </table>
      <!-- <div *ngIf="addingAddress"> -->
        Street: <input type="text" name="street" [(ngModel)]="newAddress.street" value="4321 Lowell St"><br>
        Street2: <input type="text" name="street2" [(ngModel)]="newAddress.street2" placeholder="Apt 3"><br>
        City: <input type="text" name="city" [(ngModel)]="newAddress.city" value="Denver"><br>
        State: <input type="text" name="stateAbbv" [(ngModel)]="newAddress.stateAbbv" value="CO"><br>
        Zip Code: <input type="number" name="zipCode" [(ngModel)]="newAddress.zipCode" value="87123"><br>
        <span *ngIf="currentUser.role == 'business' || currentUser.role ==  'admin' " >Notes: <input type="text" name="notes" [(ngModel)]="newAddress.notes" placeholder="A/C on roof, dog in yard..."></span><br>
        <button (click)="addAddress(newAddress)">Add</button>

        <br><br><br>
        <br><br><br>
        <div *ngIf="addingAddress">

        <div class="form-floating mb-3 mt-3" *ngIf="addingAddress">
          <input type="text" class="form-control" id="street" name="street" [(ngModel)]="newAddress.street" placeholder="123 Something St"><br>
          <label for="street">Street</label>
          <input type="text" class="form-floating" id="street2" name="street2" [(ngModel)]="newAddress.street2" placeholder="Apt 3"><br>
          <label for="street2">Street2</label>
          <input type="text" class="form-floating" id="city" name="city" [(ngModel)]="newAddress.city" placeholder="Denver"><br>
          <label for="city">City</label>
          <input type="text" class="form-floating" id="stateAbbv" name="stateAbbv" [(ngModel)]="newAddress.stateAbbv" placeholder="CO"><br>
          <label for="stateAbbv">State</label>
          <input type="number" class="form-floating" id="zipCode" name="zipCode" [(ngModel)]="newAddress.zipCode" placeholder="87654"><br>
          <label for="zipCode">Zip Code</label>
          <span *ngIf="currentUser.role == 'business' || currentUser.role ==  'admin' " ><input type="text" class="form-floating" id="notes" name="notes" [(ngModel)]="newAddress.notes" placeholder="A/C on roof, dog in yard..."></span><br>
          <label for="notes">Notes</label>
          <button (click)="addAddress(newAddress)">Add</button>
      </div>
    </div>  <!-- end address div -->
    <br><br><br>

  </div>    <!-- End class userWrapper   -->
</div>   <!-- End class userContent   -->
