.userWrapper {
  /* display: flex; */
  /* display: inline-block; */
  display: flex;
  flex-direction: column;

}

div.userContent {
  margin-left: 200px;
  padding: px 16px;
  height: 1000px;
  text-align: left;
  padding-top: 81px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

div.userListBox {
  min-width: 60%;
  min-height: 150px;
  max-width: 60%;
  margin: 0 auto;
  background-color: #283891;
  position: relative;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: Georgia;
  border-radius: 2em;
/*
   min-width: 1000px;
   padding-left: 30px; */
}

div.addressListBox {
  min-width: 60%;
  min-height: 150px;
  max-width: 60%;
  margin: 0 auto;
  background-color: #283891;
  position: relative;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: Georgia;
  border-radius: 2em;
}

.editAddressBtn {
  width: 35px;
}

.action {
  display: none;
}

tr:hover .action {
  display: inline-flex;
}
