.userWrapper {
  /* display: flex; */
  /* display: inline-block; */
  display: flex;
  flex-direction: column;

}

div.userContent {
  margin-left: 200px;
  padding: px 16px;
  height: auto;
  text-align: left;
  padding-top: 81px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

div.userListBox {
  min-width: 60%;
  min-height: 150px;
  max-width: 60%;
  margin: 0 auto;
  background-color: #283891;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 2em;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 50%);
}

div.addressListBox {
  min-width: 60%;
  min-height: 150px;
  max-width: 60%;
  margin: 0 auto;
  background-color: #283891;
  position: relative;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 2em;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 50%);
}


.editAddressBtn {
  width: 35px;
}

.action {
  display: none;
}

tr:hover .action {
  display: inline-flex;
}

.lightPadder {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.headerCenter{
  text-align: center;
}
