<app-contractor-sidebar>Loading...</app-contractor-sidebar>
<!-- Page content -->

<div class='selectBusiness'>
  <div class="col">
    <h1>Welcome {{currentUser.firstName}}  {{currentUser.lastName}}</h1><br>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle *ngIf="!showCurrentCall">{{displayBusinessMessage}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
        <button ngbDropdownItem *ngFor='let business of userBusinesses' (click)='getServiceCallsByBusinessId(business); setBusinessDisplayMessage(business.name)'>{{ business.name }}</button>
      </div>
    </div>
  </div>
</div>
<div class="content" *ngIf="showCalls">
  <H1>Service Requests:</H1>
  <br>
  <div class="wrapper radioDatePipe">
    <form action="">
      <input [(ngModel)]="filterBy" type="radio" id="day" name="filterBy" value="day">
      <label for="day"> Day</label>
      <input [(ngModel)]="filterBy" type="radio" id="week" name="filterBy" value="week">
      <label for="week"> Week</label>
      <input [(ngModel)]="filterBy" type="radio" id="month" name="filterBy" value="month">
      <label for="month"> Month</label>
      <input [(ngModel)]="filterBy" type="radio" id="all" name="filterBy" value="all">
      <label for="All">  All</label>
    </form>
    </div>
    <br>
    <br>
    <div class="clientListBox container-fluid" >
      <div>
        <h2>In Progress: </h2>
     </div>
      <div class="callsTable">
        <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Problem</th>
              <th scope="col">Address</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Scheduled</th>
            </tr>
          </thead>
          <tbody *ngFor='let call of serviceCalls | activeCalls:showComplete | callFilter:filterBy' (click)="getServiceCallById(call)">
            <tr>
              <td>{{call.user?.firstName}} {{call.user?.lastName}}</td>
              <td>{{call.problem?.description}}</td>
              <td>{{call.address?.street}} {{call.address?.city}} {{call.address?.stateAbbv}}</td>
              <td>({{call.user?.phoneNumber | slice:0:3}}) {{call.user?.phoneNumber | slice:3:6}}-{{call.user?.phoneNumber | slice:6:10}}</td>
              <td>{{call.dateScheduled | date  : 'short'}} </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<!-- edit service call -->
<div class = 'content'>
<div class="content selectBusiness form-group">
  <div class="serviceCall selectServiceCall" *ngIf="showCurrentCall">

    <table name="singleServiceCall" class="table table-dark" id="updateCallTable">
      <thead>
        <tr>
          <th>

            <h3>{{currentServiceCall.user?.firstName}} {{currentServiceCall.user?.lastName}}</h3></th>
          <th class="schedDate"><h6>Appointment: {{currentServiceCall.dateScheduled | date  : 'short'}}</h6></th>
        </tr>
        <tr>
          <th><h5>{{currentServiceCall.address?.street}} {{currentServiceCall.address?.street2}} {{currentServiceCall.address?.city}}, {{currentServiceCall.address?.stateAbbv}} {{currentServiceCall.address?.zipCode}}</h5></th>

          <th class="cellBorder" ><h6>Created: {{currentServiceCall.dateCreated | date : 'short'}}</h6></th>
        </tr>
      </thead>
      <tbody  >
        <tr >
        <td colspan="2" >
          Problem:
          <select class="form-control callUpdateDropdowns" name="problem" [(ngModel)]="currentServiceCall.problem.id" >
            <option *ngFor="let problem of allProblems" value={{problem.id}}>
              {{problem.description}}
            </option>
          </select>
        </td>
      </tr>
        <tr>
          <td colspan="2">
            Problem details: <textarea  class="serviceCallTextArea form-control" rows="3" [(ngModel)]="currentServiceCall.problemDescription">{{currentServiceCall.problemDescription}}</textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Solution:
            <select class="form-control callUpdateDropdowns" name="solution" [(ngModel)]="currentServiceCall.solution.id" >
              <option *ngFor="let solution of allSolutions" value={{solution.id}}>
                {{solution.description}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Solution details:<textarea class="serviceCallTextArea form-control" rows="3" [(ngModel)]="currentServiceCall.contractorNotes">{{currentServiceCall.contractorNotes}}</textarea>
          </td>
        </tr>
        <tr>
          <td> Date Scheduled <input type="datetime-local" class="form-control-lg" id="createCallTime"
            [(ngModel)]="currentServiceCall.dateScheduled"/></td>
          <td >
            <label for="" class="updateCallEstimate">Estimate: </label><input name="updateCallEstimate" type="checkbox" [(ngModel)]="currentServiceCall.estimate">
            <label for="" class="updateCallComplete">Complete: </label><input name="updateCallComplete" type="checkbox" [(ngModel)]="currentServiceCall.completed">
          </td>
        </tr>
        <tr>
          <td>
            Labor hours: <input class="form-control updateCallLabor" type="number" [(ngModel)]="currentServiceCall.hoursLabor">
          </td>
          <td>
            Cost: <input class="form-control updateCallCost" type="number" [(ngModel)]="currentServiceCall.totalCost ">
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
          </td>
          <td>
            <button  class="form-control callUpdatePageButtons btn-success1" (click)="updateServiceCall(currentServiceCall)">Save</button>
            <button  class="form-control callUpdatePageButtons btn-secondary" (click)="showCurrentCall = false; showCalls = true">Back</button>
          </td>
        </tr>
      </tfoot>
    </table>
    </div>
  </div>
  <br><br><br>
</div>
