/*
.radioDatePipe {
display: inline-block;
}

.radioDatePipe label {
  padding-right: 5px;
} */

.radioDatePipe label {
  margin-bottom: 10px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
  text-align: center;
  padding-top: 30px;
}

div.selectBusiness{
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
  text-align: center;
  padding-top: 81px;
}

.clientListBox{
  min-width: 600px;
  min-height: 150px;
  max-width: 75%;
  margin: 0 auto;
  background-color: #283891;
  position: relative;
  padding-top: 10px;
  color: white;
  font-family: Georgia;
  border-radius: 2em;
  padding-bottom: 10px;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 50%);
}

div.selectServiceCall{
  margin-right: 1px;
  position: relative;
  padding: 1px 16px;
  max-width: 75%;
  height: auto;
  text-align: center;
  padding: 30px;
  background-color: #283891;
  border-radius: 2em;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 50%);
}

div.callsTable{
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px ;
  width: auto;
}


table, th, td {
  border: 1px solid black;
}

.singleServiceCall {
  border-radius: 5px;
}


table {
  border-radius:2em;
  width: 100%;
  color: floralwhite;
}

.btn-success1 {
  margin-left: 5px;
  color: #000;
  background-color: #EF9E60;
  border-color: #020202;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    /* background-color: #EF9E60;
    color:#FFF;
    border-color: #EF9E60; */
    float: right;
  }

.btn-success1:hover, .btn-success1:focus, .btn-success1:active, .btn-success1.active, .open .dropdown-toggle.btn-success1 {

  background-color: #157347;
  color:#FFF;
  border-color: #146c43;
  /* box-shadow: 0 0 0 0.25rem rgb(60 153 110 / 50%); */
}

.btn-secondary {
  /* color: #000;
  background-color: darkgray;
  border-color: #6c757d; */
  float: right;
}

#updateCallTable tbody {
  text-align: left;
  padding-left: 10px;
}

.callUpdateDropdowns{
  width: 290px;
}

.callUpdatePageButtons {
  cursor: pointer;
  display: inline;
  width: 100px;
}

.updateButtonRow{
  display: inline;
  /* float: right; */
}

.updateCallLabor{
width: 100px;
}

.updateCallCost{
width: 100px;
text-align: right;

}

.updateCallComplete{
  margin-left: 30px;
  margin-right: 10px;
}

.updateCallEstimate{
  margin-left: 30px;
  margin-right: 10px;
}

.schedDate{
  color: red;
}
